.entire-lista {
    width: 100vw;
    height: 1300px;
    background-color: white;
    display: flex;
    justify-content: center;
    /* background-image: url("../../imgs/wallpaper.jpg"); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.caixona-lista {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: white;
    width: 80%;
    height: 100%;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
    z-index: 10;
}
.botoes-lista {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-right: 2%;
    position: absolute;
}
.button {
    height: 50px;
}
.botao-lista {
    text-decoration: none;
    margin-right: 5%;
}
.Texto-Botao-Lista {
    color: white;
    text-transform: capitalize;
    white-space: nowrap;
}
.img-lista {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15%;
    margin-top: 2%;
}
.pesquisa-lista {
    width: 100%;
    display: flex;
    justify-content: center;
}
.pesquisa-lista-input {
    width: 80%;
    height: 40px;
    border-radius: 20px;
    border-width: 1px;
    padding: 0px 1.5%;
    font-weight: 600;
    font-size: 16px;
}

.botao-pet-lista {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 2%;

}
.botao-pet-lista:hover {
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.img-pet-lista {
    background-color: #C4C4C4;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: 8%;
    margin-right: 2%;
    
}

.titulo-lista {
    margin: 0;
}
.texto-lista {
    display: flex;
    flex-direction: row;
}
.texto-lista-tipo {
    margin: 0;
}
.texto-lista-cachorro {
    margin: 0;
    font-weight: 400;
}

@media (max-width: 750px) {
    .botoes-lista {
        position: unset;
    }
    .titulo-lista {
        font-size: 18px;
    }
    .texto-lista-tipo {
        font-size: 14px;
    }
    .texto-lista-cachorro {
        font-size: 14px;
    }
}
